.penIcon,
.trashIcon {
  color: gray;
}

.trashIcon:hover,
.closeIcon:hover {
  color: red;
}

.penIcon:hover {
  color: blue;
}

/* override conditional inline style */
.checkIcon:hover {
  color: green !important;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}
